.zhonXin-page {
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;

  /* 消除导航栏下边的白边 */
  ::v-deep .uni-navbar .uni-navbar__content {
    border-bottom: 0;
  }

  /* 未登录下 */
  .noLogin {
    height: 88vh;

    .login-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 88%;
      transform: translateX(-50%);
    }
  }

  /* 登录状态下 */
  .isLogin {
    height: 88vh;
  }
}
